.App {
  text-align: center;
}

.main {
  min-height: 100vh;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.header {
  display: flex;
  background-color: black;
  padding: 10px 35px;
  align-items: center;
}

.header-container img {
  margin: 20px; 
}

.header-buttons {
  display: flex;
  margin: 20 px;
}

.nav-button {
  display: flex;
  background-color: #3b4cca;
  border: none;
  color: #fff;
  padding: 8px 16px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #4b5cca6f;
}

.pokedex {
  text-align: center;
  padding: 5px;
}

.pokemon-list {
  display: flex;
  /*flex-direction: column;*/
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pokemon-item {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px;
  width: 300px;
  text-align: center;
}

.img-p {
  width: 150px; 
  height: 150px;
}

